<form action='/calculate' method='post' class="form-inline well">
  <input name='url' placeholder="https://www.google.co.in/" autofocus>
  <input class="btn primary" type='submit' value='Calculate'>
</form>
